<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class ="row">
                            <div class ="col-md-11">
                                <h4 class="title"> Appointment List </h4>
                            </div>
                            <div class="col-md-1">
                                <a href="#/newappointment">
                                    <button type="submit" class="btn btn-info btn-fill pull-right" href="#/appointments">
                                        Make Appointment
                                    </button>
                                </a>
                            </div>
                        </div>
                        <p class="category">List of all the appointments to come</p>
                    </div>                    
                    <div class="content table-full-width table-responsive">
                        <table class="table table-hover table-stiped">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData1.dataRows; let indexOfAppoint=index;">
                                    <td *ngFor="let cell of row">{{cell}}</td>
                                    <td>
                                        <a href="#/modifyappointment">
                                        <button (click)="passCita(indexOfAppoint)" type="button" rel="tooltip" title="Edit" class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        </a>
                                        <button (click)="elimcita(indexOfAppoint)" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <a href="#/prebilling">
                                            <button (click)="passCita(indexOfAppoint)" type="button" rel="tooltip" title="Pay" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                                            </button>
                                            </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>

