<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#/home">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#/user">
                        User Profile
                    </a>
                </li>
                <li>
                    <a href="#/clients">
                        Manage Clients
                    </a>
                </li>
                <li>
                    <a href="#/workers">
                        Manage Workers
                    </a>
                </li>
                <li>
                    <a href="#/appointments">
                        Appointments
                    </a>
                </li>
                <li>
                    <a href="#/billing">
                        Billing
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
